# Excluye carpetas de MCUXpresso Workspace
*.metadata
*.mcuxpressoide_packages_support
*.launch

/mma_8451 propio//
# excluye carpeta freeRTOS
/freeRTOS_TADS_logs/

/mma_8451 propio/debug/
/mma_8451 propio/release/
/mma_8451 propio/doc/
